{{define "title"}}Aktualne{{end}}

{{define "main"}}
    <h2>Faktury:</h2>
    <form action="/" method="POST" style="display:inline;">
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <input type="month" name="month" value='{{.CurrentDate.Format "2006-01"}}'>
        <button type="submit" class="btn success">Zmień miesiąc</button>
    </form>
    {{if .Invoices}}
    <form action="/jpk/create" method="POST" style="display:inline;">
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                <button type="submit" class="btn success">Generuj JPK</button>
    </form>
    <table>
        <thead>
            <tr>
                <th class="col-inv">Nr Faktury</th>
                <th class="col-nip">NIP</th>
                <th class="col-money">Netto</th>
                <th class="col-money">Podatek</th>
                <th class="col-date">Data</th>
                <th class="col-id">Typ</th>
            </tr>
        </thead>
        <tbody>
        {{range .Invoices}}
        <tr class="clickable-row" data-href='/viewinvoice/{{.Id}}'>
            <td>{{.Nr_faktury}}</td>
            <td>{{.Nip}}</td>
            <td>{{printf "%.2f" .Netto}}</td>
            <td>{{printf "%.2f" .Podatek}}</td>
            <td>{{.Data.Format "02-01-2006"}}</td>
            <td>{{.Inv_type}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
    
    <script src="/static/js/lists.js" type="text/javascript"></script>

    {{else}}
        <p>Nie ma jeszcze faktur z tego miesiąca.</p>
    {{end}}
{{end}}
